<ul class="">
  <li class=""><a href="/">Home</a></li>
  <li class=""><a href="/about">About</a></li>
  <li class=""><a href="/about/contact">Contact</a></li>
  <li class=""><a href="/blog/entry-1">Blog</a></li>
</ul>
